- content_for :head do
  %meta{name: "turbolinks-cache-control", content: "no-cache"}
.container-fluid#new-setting
  .row
    .col-sm-12.col-md-6
      .title.color-black.font-20
        = t('setting.configuration')
      = render partial: 'form'

      .row
        .title.padding-bottom-20.font-family-medium.col-xs-6.col-sm-7
          = t('setting.pay-method')
        %a.col-xs-6.col-sm-5.text-right.link-blue#add-payment-method{'data-device-name' => 'pawla'}
          = t('setting.add-pay-method')
      .row
        .col-sm-12.z-index
          %table.table#table-payment-method
            %tbody
      .row
        .col-sm-12.row-eq-height.justify-content-end
          = link_to t('setting.back'), home_dashboard_path(access_token: @token), :class => 'btn btn-grey min-w120 margin-right-20'
          %button#setting-form-submit.btn.btn-green.min-w120.pull-right{:type => 'submit'}
            .save
              = t('setting.save')
            .process
              = t('btn.process')
    .col-sm-0.col-md-6
    /= image_tag 'jurnal.png', :class => 'img-responsive hidden-sm hidden-xs'

  = render partial: 'popup_add_pay_method'
  = render partial: 'popup_error_setting_form'

#spinner-group.spinner.hidden
  .double-bounce1
  .double-bounce2
#spinner-backdrop.hidden

%script
  var edit_payment_method = [];
  var setting_url = '#{settings_url}';
  var payment_method_url = '#{@payment_method_url}';
  var edit_text = '#{t('setting.edit')}';
  var delete_text = '#{t('setting.delete')}';

- content_for :scripts do
  = javascript_include_tag 'jquery.serialize-object.min', "data-turbolinks-track" => true
  = javascript_include_tag 'multi-modal', "data-turbolinks-track" => true
  = javascript_include_tag 'select2-ajax', "data-turbolinks-track" => true